html{

}
body{
    margin:0;
    background-color: #edf2c5; 
    margin-left:160px;
    margin-right:160px;
}
.container{
    max-width: 940px;
    margin-left:160px;
    margin-right:160px;  
}
.header{
    font-size: 44px;
    font-weight: 940;
    display: flex;  
    margin-top: 36px;
    margin-bottom: 5px;
    line-height: 0.82;
    font-size: 44px;
    font-weight: 900;
    align-items: baseline;
    font-family: Arial;
}
h1{
    color: #778a50;
    font-weight:940;
    font-size: 44px;
    margin-right:;
    align-items:flex-start       
}


.header2{
    margin-left: px;
    display: flex;
    align-items: center;
    margin-left:1000px;
  
}

.btn_facebook{
    margin-right: 10px;
    margin-left:-531px;
    
}

.line_login{
    width: 1px;
    height: 25px;
    margin: 10px;
    background-color: #778a50;
}
.btn_LOGIN_box:hover{
    transform: scale(0.9);
    color: #edf2c5;
    background-color: #778a50;
}


.btn_JOIN_box:hover{
    transform: scale(0.9);
    color: #edf2c5;
    background-color: #778a50;
}
.LL{
    display: flex;   
  
}
.JJ{
    display: flex;   
  
}
.L{
  width: 20px;
  height: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
  margin: px;
  margin-left:px;
}

.J{
  width: 35px;
  height: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.57;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
  margin:px;
}
.btn_LOGIN_box {
    margin: 0;   
    color: #778a50;
    font-size: 14px;
    font-weight: bold;
    text-decoration: dashed; 
    padding:6px  7px ;
    border: 1px solid  #778a50 ;
    border-radius: 3px;
    margin: 0px 0px 0 px;
    transition: all .3s linear;
}
.btn_JOIN_box {
    margin: 0;   
    color: #778a50;
    font-size: 14px;
    font-weight: bold;
    text-decoration: dashed; 
    padding:6px  7px ;
    border: 1px solid  #778a50 ;
    border-radius:3px;
    margin: 0px 0px 0 10px;
    transition: all .3s linear;
}
.nav{
  width: 595px;
  height:44px;
  margin:-10px 0 0;
  padding:10px 316px 11px 30px;
  border-radius:3px;
  background-color:#778a50;
  font-family:Arial; 
  margin-left:160px;
}

.nav-list{
    display: flex;
  margin-left:-35px;
}

.nav-list-item{
    margin-right :60px;
    list-style: none;
    margin-top:-5px;    
}
.nav-list-item-link{
  font-size: 16px;
  font-weight: 940;
  text-align: left;
  color: #edf2c5;
  text-decoration: dashed; 
  transition: all .2s linear;
  
}


.nav-list-item-link:hover{
    color: #4a5112;
}

.img_main_pumpkin{
  width: 940px;
  height: 448px;
  margin: 20px 0 30px;
  object-fit: contain;
  margin-left:160px;
  
}

.Vegetables{
    margin-top: px;
    margin-left:160px;
    display: flex;
    flex-direction: row;
}

.body_box_vegetables{
  width: 115px;
  height: 45px;
  margin: 30px 52px 15px 0;
  padding: 10px 316px 12px 30px;
  border-radius: 3px;
  background-color: #778a50;
  
}

.body_box_vegetablestext{
    margin: 0;
    color: #edf2c5;
    text-align: left;
    font-size: 16px;
    font-weight: 900;
    padding-left: 30px;
    line-height: 45px;
    font-family: Arial;  
    margin-left:-25px;
}
  
.A1{
    display: flex;   
    margin:0px;
    margin-bottom: 35px;
}
.img_vegetables_pepper{
  width: 140px;
  height: 140px;
  margin: 8px 12px 0 0;
  object-fit: contain;
}
.img_vegetables_carrot{
  width: 140px;
  height: 140px;
  margin: 8px;
  object-fit: contain;
}
.img_vegetables_corn{
  width: 140px;
  height: 140px;
  margin: 8px 12px 0;
  object-fit: contain;
}

.body_box_contact{
  width: 65px;
  height: 45px;
  margin:30px;
  padding: 10px 345px 12px 30px;
  border-radius: 3px;
  background-color: #778a50;
  margin-left:-10px;
}
.body_box_contact_text{
  width: 69px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  color: #edf2c5;
  margin-left:20px;
}

.B1{
  width: 410px;
  height: 110px;
  margin: 40px -28px 0;
  padding: 15px;
  background-color: #f7fbda;
}

.FOR{
  width:400px;
  height:44px;
  margin: 0 0 15px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}

.EP{
  width: 414px;
  height: 44px;
  margin: 0;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}

.line2{
  width: 414px;
  height: 1px;
  margin: 15px 0;
  background-color: #7d7d7d;
}

.COPY{
  width: 940px;
  height: 40px;
  margin: -10px -400px 0px;
  padding: 23px 479px 23px 480px;
  background-color: #778a50;
  margin-top: 30px;
}

.C{
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    color: #edf2c5; 
    font-family: Arial;
    margin-left:430px;
   
}